.header {
    color: white;
    font-size: 20px;
    margin-top: 5em;
    
}

form {
    text-align: center;
    height: 40em;
    width: 500px;
}

.form {
	background-color: rgb(4, 39, 63);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;


}

