.portada{
	background: rgb(4, 39, 63);
	height: 100vh;
    text-align: center; 
}

.container{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-top: 100px;
}

/*Cambio de flex row a column para pantallas peque;as*/
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    margin-top: 40px;
  }
}

.img-portada{
	border-radius: 225px;
	height: 430px;
	width: 450px;
	background: rgb(40, 58, 95);
	opacity: 40%;
}

p{
	color: white;
	margin-left: 25px;
	margin-top: 20px;
}
/*img{
	
	background: rgb(7, 17, 37);
	margin-top: 80px;	
	height: 445px;
	width: 470px;
	border-radius: 230px;
	
}
*/