
<!-- Menu -->
<nav class="navbar navbar-expand-lg sticky-top">

	<div class="container-fluid">
		<!-- Botom -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!--Logo y Nombre   -->
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

			<ul class="navbar-nav mr-auto ml-0">
				<li class="nav-item" >
				<!-- <img src="assets/logo.png" width="30" height="24" alt="" class="d-inline-block align-text-top" > -->

				<a class="navbar-brand" href="#portada">Angelo Familia Garcia</a>
				</li>
			</ul>
	
			<div class="d-flex flex-row justify-content-right">
				<ul class="navbar-nav">
					<!--Badge-->	
					<li class="nav-item active">
						<a class="nav-link text-gray" href="#portafolio">Portafolio
							<span class="badge">4</span>
						</a>
					</li>
					
					<!--Dropdown-->
					<li class="nav-item">
						<div class="dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown">
							  Curriculum
							</a>
							<div class="dropdown-menu">
							  <button class="dropdown-item" href="#">Descargar</button>
							</div>
						  </div>
					</li>
						
					<li class="nav-item">
						<a class="nav-link" href="#contacto">Contacto</a>
					</li>

				</ul>
			</div>

		</div>
	</div>
</nav>

