<a name="portafolio"></a>
<br>
<br>
<br>
<br>
<div class="container">

	<h1>Portafolio</h1>	
	<p>By: Angelo Familia</p>
	<hr>

</div>

<!-- Contenedor Tarjetas -->
<div class="container">
	<div class="row row-cols-2 row-cols-xs-1 ">
	  
	  <!-- Tarjeta 1 -->
	  <div class="col">
	    <div class="card">
	      <img src="../assets/p001.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Proyecto 1</h5>
	        
	        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

	        <a href="#" class="btn btn-info mr-2">Ver</a>
	        <a href="#" class="btn btn-dark">Codigo</a>

	      </div>
	    </div>
	  </div>

	  <!-- Tarjeta 2 -->
	  <div class="col">
	    <div class="card">
	      <img src="../assets/p001.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Proyecto 2</h5>
	        
	        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

	        <a href="#" class="btn btn-info mr-2">Ver</a>
	        <a href="#" class="btn btn-dark">Codigo</a>

	      </div>
	    </div>
	  </div>

	  <!-- Tarjeta 3 -->
	  <div class="col">
	    <div class="card">
	      <img src="../assets/p001.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Proyecto 3</h5>

	        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>

	        <a href="#" class="btn btn-info mr-2">Ver</a>
	        <a href="#" class="btn btn-dark">Codigo</a>
	        
	      </div>
	    </div>
	  </div>

	  <!-- Tarjeta 4 -->
	  <div class="col">
	    <div class="card">
	      <img src="../assets/p001.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Proyecto 4</h5>

	        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

	        <a href="#" class="btn btn-info mr-2">Ver</a>
	        <a href="#" class="btn btn-dark">Codigo</a>

	      </div>
	    </div>
	  </div>

	  <!-- Tarjeta 5 -->
	  <div class="col">
	    <div class="card">
	      <img src="../assets/p001.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Proyecto 5</h5>

	        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

	        <a href="#" class="btn btn-info mr-2">Ver</a>
	        <a href="#" class="btn btn-dark">Codigo</a>

	      </div>
	    </div>
	  </div>

	  <!-- Tarjeta 6 -->
	  <div class="col">
	    <div class="card">
	      <img src="../assets/p001.jpg" class="card-img-top" alt="...">
	      <div class="card-body">
	        <h5 class="card-title">Proyecto 6</h5>

	        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

	        <a href="#" class="btn btn-info mr-2">Ver</a>
	        <a href="#" class="btn btn-dark">Codigo</a>

	      </div>
	    </div>
	  </div>

	</div>

<!-- Paginacion -->
	<div class="container d-flex justify-content-center">
		<nav aria-label="...">
	  		<ul class="pagination pagination-lg">
		    	<li class="page-item active" aria-current="page">
		      	<span class="page-link">1</span>
		    	</li>
		    	<li class="page-item disabled"><a class="page-link" href="#">2</a></li>
		    	<li class="page-item disabled"><a class="page-link" href="#">3</a></li>
	  		</ul>
		</nav>
	</div>


</div>