.container{
    width: 100%;
    margin-bottom: 5em; 
}

.card{
	margin-bottom: 3em;
	margin-right: 1em;
}

img{
	
	width: 100%;
	padding: 1em;
	border-radius: 25px;

}

.pagination>li.active>span{
	background-color: rgb(4, 39, 63);
	color: #fff;
}